<h1>Profile Information</h1>
<% if @user.avatar %>
  <%= image_tag @user.avatar.url(:medium) %>
<% end %>
<div>
  User Name: <%= @user.full_name %>
</div>
<div>
  Email: <%= @user.email %>
</div>
<%= link_to "Update Information", edit_user_path(session[:user_id]) %>
