<!-- <div class="about-background-image"> -->


<h1>About The Site</h1>
<div class="about-body">
  <p>Hello everyone, my name is Wilson. I am a Full-stack web developer.</p>
  <p>This Blog is my personal project to demonstrate my web development skills.</p>
</div>

<div class="techs">
  <p class="techs-header">The following technologies are used:</p>
  <div class="icons">
    <%= image_tag("http://swebgineering.com/img/icon_rails.png")  %>
  </div>
  <div class="icons"><%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1000px-HTML5_logo_and_wordmark.svg.png")  %>
  </div>
  <div class="icons" style="width:60px"><%= image_tag("http://wpguru.co.uk/wp-content/uploads/2013/09/CSS-Logo-214x300.png")  %>
  </div>
  <div class="icons"><%= image_tag("https://www.javacodegeeks.com/wp-content/uploads/2016/01/javascript-shield-300x300.png")  %>
  </div>
</div>
<!-- </div> -->
