// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
 * re: https://twitter.com/CodePen/status/355107665099231232
 *
 * this version uses <i> for the icons; this is the first time i've constructed icons out of pure css using pseudo elements (MUCH more on that here: http://css-tricks.com/pseudo-element-roundup/ )
 *
 * next version(s) might substitute the <i>s with @fontface & unicode range; i'd like to also try to get more semantic with this (though i think this is pretty semantic to start with... no? maybe not); i'd also like to get this modernizr'd and compatible way back to ie version who-knows-what
 *
 * feel free to hit me up w/criticisms @ jeremy.buller@gmail.com
 */

body{
 background-image: url(image-path('blog_background.png'));
}

a.btn.btn-primary.btn-lg.home-buttons {
  display: inline-block;
  padding: 30px;
  width: 30%;
  margin: 10px;
}
