// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
 * re: https://twitter.com/CodePen/status/355107665099231232
 *
 * this version uses <i> for the icons; this is the first time i've constructed icons out of pure css using pseudo elements (MUCH more on that here: http://css-tricks.com/pseudo-element-roundup/ )
 *
 * next version(s) might substitute the <i>s with @fontface & unicode range; i'd like to also try to get more semantic with this (though i think this is pretty semantic to start with... no? maybe not); i'd also like to get this modernizr'd and compatible way back to ie version who-knows-what
 *
 * feel free to hit me up w/criticisms @ jeremy.buller@gmail.com
 */

body{
 background-image: url(image-path('sayagata.png'));
}

.techs{
  text-align: center;
  padding-top: 40px;
}

.icons{
  display: inline-block;
  width: 80px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.icons>img {
  height: 100%;
  width: 100%;
  display:block;
  margin:auto;
}

.home-background{
  background-image: url(image-path('blog_background.png'));
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 125%;
  margin-left: -13.5%;
  margin-top: -10%;
  margin-bottom: -10%;
}

.about-body{
  text-align: center;
}

.about-body > p {
  font-size: 20px;
}

a.btn.btn-primary.btn-lg.home-buttons {
  display: inline-block;
  padding: 30px;
  width: 30%;
  margin: 10px;
}

body > div.container > div > p:nth-child(3){
  padding-top: 20px;
  text-align: center;
}
