<div id="footer">
  <div class="links">
    <%= link_to fa_icon("github"), "https://www.github.com/Will3000" %>
    &nbsp;
    <%= link_to fa_icon("linkedin"),"https://ca.linkedin.com/in/wilson-lu-225bb1118" %>
  </div>
  <div id="foot-note">
    &copy; Created by Wilson Lu
  </div>
</div>
